---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">blog</a>


		<h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eos doloribus eum, consequatur delectus amet ullam voluptatum cumque ut libero quisquam quae fuga. Earum in iste molestiae fugit deleniti obcaecati labore eligendi?</p>
	</body>
</html>
